p {
    color: green;
    font-size: 14px;
}

/*Este es un comentario sin importancia*/

.borde {
    border-style: double;
    border-radius: 10px;
    background-color: aquamarine;
    width: 600px;
    height: 150px;
}

h1, h2 {
    border-style: double;
}

tr {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#especial {
    color: red;
    font-size: 40px;
    border-style: dotted;
}

/*Este es un comentario sin importancia*/
h1 {
    border-style: dotted;
}

.verdeamarillo {
    color: green;
    background-color: bisque;
}

.fondovioleta {
    background-color: violet;
}